/*
Color Palette
https://coolors.co/000000-14213d-fca311-e5e5e5-ffffff
*/

.app {
  height: 100vh;
  width: 60vw;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #fff;
  color: #e5e5e5;
  margin: 0 auto;
  border: solid 5px #fca311;
  border-radius: 15px;
}

@media only screen and (max-width: 600px) {
  .app {
    height: 100vh;
    width: 100vw;
    margin: 0;
  }
}

.app__header {
  background-color: #14213d;
  color: #fca311;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  padding-bottom: 15px;
  border-radius: 5px 5px 20px 20px;
}

.app__header > h1 {
  margin: 5px 0;
}

.pokedex__main {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: grid;
  place-content: center;
  overflow-y: scroll;
}
.app__footer {
  background-color: #14213d;
  display: grid;
  place-items: center;
  border-radius: 20px 20px 5px 5px;
}
